#design {
	background: rgba(255,235,65, 1);
	color: #222;
  padding-top: 0;
}

/*.design-headline { background: yellow; }*/
.design-headline {
  height: 140px;
}
.design-headline h1 {
  color: rgba(255,235,65, 1);
  font-size: 2em;
  left: 0;
  position: absolute;
  margin: 0;
}

.design-headline h1 { text-shadow: 1px 1px 1px #222, 0 0 0 hsla(0, 0%, 0%, 0.1), 1px 4px 6px yellow; }
.design-headline h1:after { color: yellow; }
.design-headline:hover h1:after { color: yellow; }

.design-headline h1:before,
.design-headline h1:after {
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.design-headline h1:before {
	-webkit-transform: scale(1,1.05) skew(4deg,0deg);
	-ms-transform: scale(1,1.05) skew(4deg,0deg);
	transform: scale(1,1.05) skew(4deg,0deg);
}

.design-headline h1:after {
	text-shadow: 0px -1px 0px hsla(360, 100%, 100%, 0.1), 0px 3px 1px hsla(0, 0%, 0%, 0.4);
	-webkit-transform: rotateX(15deg);
	-ms-transform: rotateX(15deg);
	transform: rotateX(15deg);
}

.experience-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
	font-size: 1.6em;
	margin: 0;
  margin-bottom: 10px;
	color: #222;
  padding-left: 10px;
}

.title a {
  /*text-decoration: none;
  color: #222;*/
  background-image: linear-gradient(180deg,transparent 65%,white 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #000;
  -webkit-transition: background-size .4s ease;
  transition: background-size .4s ease;
}

.title a:hover {
  background-size: 100% 100%;
  cursor: default;
  color: #000;
}

.subtitle {
  font-size: 0.5em;
  margin: 0;
	color: #222;
  text-transform: uppercase;
  padding-left: 10px;
}

.text {
	font-size: 0.6em;
	color: white;
	position: relative;
	margin-top: 5px;
}

.text span {
  padding: 2px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.deco-bg {
	line-height: 1.6;
	background: -webkit-linear-gradient(bottom, #222 90%, transparent 90%, transparent);
	background: linear-gradient(to top, #222 90%, transparent 90%, transparent);
}
